In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [5]:
#  Import and read the charity_data.csv.
df = pd.read_csv("Resources/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

df = df.drop(['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'], 1)
print(df.shape)
df.head()

(34299, 8)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [8]:
df2 = pd.get_dummies(df)
df2

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

# Split the Data into Training and Testing

In [9]:
# Create our features
X = df2.drop(['IS_SUCCESSFUL'], axis = 1)

# Create our target
y = df['IS_SUCCESSFUL']

In [10]:
X.describe()

,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
count,3.429900e+04,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,...,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000,34299.000000
mean,2.769199e+06,0.015394,0.000787,0.001924,0.000087,0.000058,0.000029,0.031050,0.000466,0.000087,...,0.685589,0.711041,0.021225,0.015831,0.098370,0.006997,0.027843,0.109245,0.004053,0.005394
std,8.713045e+07,0.123116,0.028046,0.043825,0.009352,0.007636,0.005400,0.173457,0.021594,0.009352,...,0.464288,0.453285,0.144136,0.124825,0.297819,0.083358,0.164526,0.311951,0.063532,0.073245
min,5.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.742000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8.597806e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
# Check the balance of our target values
y.value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [13]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [14]:
# Calculated the balanced accuracy score
y_pred = brfc.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7107318945850486

In [15]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2809, 1228],
       [1245, 3293]])

In [16]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.69      0.70      0.73      0.69      0.71      0.50      4037
          1       0.73      0.73      0.70      0.73      0.71      0.51      4538

avg / total       0.71      0.71      0.71      0.71      0.71      0.51      8575

In [17]:
# List the features sorted in descending order by feature importance
features_rank = sorted(zip(brfc.feature_importances_, X.columns), reverse=True)
for feature in features_rank:
    print(f"{feature[1]}: ({feature[0]})")

ASK_AMT: (0.39220318495156187)
AFFILIATION_CompanySponsored: (0.12159981331747426)
AFFILIATION_Independent: (0.11959778423502614)
ORGANIZATION_Association: (0.03257693248095455)
APPLICATION_TYPE_T5: (0.02560892093637407)
APPLICATION_TYPE_T10: (0.021937310696567507)
CLASSIFICATION_C2100: (0.02081312376887665)
ORGANIZATION_Trust: (0.019816961823166192)
APPLICATION_TYPE_T19: (0.019322959477998506)
CLASSIFICATION_C2000: (0.017080707192416937)
APPLICATION_TYPE_T4: (0.016893320705807333)
CLASSIFICATION_C7000: (0.014857320500707287)
APPLICATION_TYPE_T3: (0.013616422037488859)
CLASSIFICATION_C1000: (0.013269945348904707)
USE_CASE_ProductDev: (0.012912995912052362)
APPLICATION_TYPE_T6: (0.011963060997526422)
USE_CASE_Preservation: (0.011526411157457702)
INCOME_AMT_0: (0.010341399927270047)
CLASSIFICATION_C1200: (0.009872731288235329)
CLASSIFICATION_C3000: (0.007939640647128002)
INCOME_AMT_25000-99999: (0.0071108270516097105)
INCOME_AMT_100000-499999: (0.006450536558959929)
INCOME_AMT_1-9999: (0.006022848512107813)
INCOME_AMT_1M-5M: (0.005564261737164132)
APPLICATION_TYPE_T8: (0.00439711927494667)
CLASSIFICATION_C1700: (0.004152450138776288)
APPLICATION_TYPE_T7: (0.0037922822026871944)
INCOME_AMT_10000-24999: (0.0037049595177701612)
CLASSIFICATION_C7100: (0.0033620989930446122)
CLASSIFICATION_C5000: (0.0032744759226936097)
USE_CASE_CommunityServ: (0.003066690753555672)
INCOME_AMT_10M-50M: (0.0030072225246090332)
CLASSIFICATION_C2700: (0.0029784835339078477)
ORGANIZATION_Co-operative: (0.002892132304479628)
CLASSIFICATION_C2800: (0.002630399048473533)
INCOME_AMT_5M-10M: (0.0024893173598364493)
INCOME_AMT_50M+: (0.0020709000206866387)
CLASSIFICATION_C4000: (0.002001738463836513)
AFFILIATION_Family/Parent: (0.001354454844083912)
USE_CASE_Heathcare: (0.0011841895800352865)
APPLICATION_TYPE_T13: (0.001040557856105264)
APPLICATION_TYPE_T9: (0.0009957956707671639)
CLASSIFICATION_C1270: (0.0008605241540564235)
CLASSIFICATION_C1800: (0.0008315019518129837)
AFFILIATION_National: (0.0008044813523185857)
CLASSIFICATION_C2300: (0.000802377445147697)
CLASSIFICATION_C1300: (0.0007844087712158357)
ORGANIZATION_Corporation: (0.0005529594204151772)
CLASSIFICATION_C1240: (0.00048142498270469083)
CLASSIFICATION_C1280: (0.0004553477588711465)
CLASSIFICATION_C6000: (0.0004485444622373659)
APPLICATION_TYPE_T12: (0.0004422512849020015)
APPLICATION_TYPE_T2: (0.000429052694714462)
CLASSIFICATION_C1400: (0.0004078415890968132)
CLASSIFICATION_C8000: (0.000401633815298525)
CLASSIFICATION_C8200: (0.00038788117509155147)
CLASSIFICATION_C7200: (0.0003862791903938289)
AFFILIATION_Regional: (0.00038295792515245515)
CLASSIFICATION_C1500: (0.0002795219518352634)
CLASSIFICATION_C0: (0.00026116023999236623)
CLASSIFICATION_C7120: (0.00024897205339424375)
CLASSIFICATION_C1732: (0.0001954009422455158)
CLASSIFICATION_C1260: (0.00019250039429371)
CLASSIFICATION_C2400: (0.00017443554685271873)
CLASSIFICATION_C1230: (0.00016345493370907858)
CLASSIFICATION_C6100: (0.0001629397762404619)
CLASSIFICATION_C1250: (0.0001503037079157285)
CLASSIFICATION_C5200: (0.00014437962377169603)
CLASSIFICATION_C1600: (0.0001370676525070503)
CLASSIFICATION_C1238: (0.0001243769974593735)
CLASSIFICATION_C7210: (0.00011891776557776435)
CLASSIFICATION_C1235: (0.0001129507548284167)
USE_CASE_Other: (0.00011129172350562529)
CLASSIFICATION_C4100: (0.00010537039873235931)
CLASSIFICATION_C1278: (0.00010472184885076349)
CLASSIFICATION_C1720: (0.0001017890969363909)
APPLICATION_TYPE_T14: (9.715410641416723e-05)
CLASSIFICATION_C2380: (8.443638075384322e-05)
CLASSIFICATION_C1237: (7.611843734195935e-05)
CLASSIFICATION_C2710: (6.876439344925218e-05)
APPLICATION_TYPE_T25: (6.454955855936865e-05)
APPLICATION_TYPE_T29: (5.9924528858941555e-05)
AFFILIATION_Other: (5.5311902468410955e-05)
CLASSIFICATION_C2561: (3.752373945589443e-05)
CLASSIFICATION_C1900: (3.7189910718334756e-05)
CLASSIFICATION_C1257: (3.521676546381047e-05)
CLASSIFICATION_C1245: (2.888139017384113e-05)
CLASSIFICATION_C1820: (2.802895826392218e-05)
APPLICATION_TYPE_T15: (2.7330277124782443e-05)
CLASSIFICATION_C3200: (2.482120175141555e-05)
CLASSIFICATION_C2570: (2.0913556889181356e-05)
CLASSIFICATION_C1256: (1.98703881892761e-05)
CLASSIFICATION_C1234: (1.8394012948945752e-05)
CLASSIFICATION_C8210: (1.695403266868415e-05)
CLASSIFICATION_C4200: (1.5548897325396758e-05)
CLASSIFICATION_C1370: (1.542870712956133e-05)
CLASSIFICATION_C4120: (1.4534738011812922e-05)
CLASSIFICATION_C1267: (1.4411425203788249e-05)
CLASSIFICATION_C1580: (1.3807402115231414e-05)
CLASSIFICATION_C2500: (1.3420446249203942e-05)
CLASSIFICATION_C1246: (1.2685465993740165e-05)
CLASSIFICATION_C1570: (1.2360085377485869e-05)
CLASSIFICATION_C1248: (1.2226846231236737e-05)
APPLICATION_TYPE_T17: (1.1674885552889677e-05)
CLASSIFICATION_C3700: (1.0007874148022662e-05)
CLASSIFICATION_C1728: (8.797029957651081e-06)
CLASSIFICATION_C4500: (0.0)
CLASSIFICATION_C2600: (0.0)
CLASSIFICATION_C2190: (0.0)
CLASSIFICATION_C2170: (0.0)
CLASSIFICATION_C2150: (0.0)
CLASSIFICATION_C1283: (0.0)
CLASSIFICATION_C1236: (0.0)

### Easy Ensemble AdaBoost Classifier

In [18]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [19]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7125566037292986

In [20]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual is_successful"], columns=["Predicted is_successful"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                 2741                1296
Actual low_risk                  1152                3386

In [21]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.70      0.68      0.75      0.69      0.71      0.50      4037
          1       0.72      0.75      0.68      0.73      0.71      0.51      4538

avg / total       0.71      0.71      0.71      0.71      0.71      0.51      8575